/********** global rules start **********/
html {
  /* Primary */
  --color1_1: #507d80;
  --color1_2: #51bf6e;
  --color1_3: #577c96;
  --color1_4: #515e8c;
  --color1_5: #579681;

  /* Secondary */
  --color2_1: #000000;
  --color2_2: #737373;
  --color2_3: #f2f2f2;
  --color2_4: #ffffff;
  --color2_5: #d9d9d9;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  margin: 0rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--color1_3);
}

/*main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
}

main > section {
  grid-column: 2/3;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}

section {
  padding: var(--space-lg);
}

#first_section {
  grid-column: 1/4;
  margin: 0;
  padding: 0;
}*/

section {
  display: grid;
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
  padding: var(--space-lg) 0;
}

section > article {
  grid-column: 2/3;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}

article {
  padding: var(--space-lg);
}

#first_section {
  grid-column: 1/4;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  line-height: 1.125;
}

h1 {
  font-family: peachy-keen-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.8rem;
  color: var(--color2_4);
}

h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  color: var(--color2_4);
}

h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: var(--color2_4);
}

h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--color2_4);
}

h5 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
  color: var(--color2_4);
}

p {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color2_4);
}

a {
  cursor: pointer;
  font-family: "Rubik";
}

#knap {
  background-color: var(--color1_2);
  color: var(--color2_1);
  border-radius: 0.5rem;
  padding: var(--space-sm) var(--space-sm);

  display: block;
  text-align: center;
  margin-top: var(--space-lg);
}

#knap:hover {
  color: var(--color2_4);
}

span {
  color: #51bf6e;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* menu start */

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: var(--color1_3);
  padding: var(--space-sm);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header hr {
  border-bottom: 0.05rem var(--color2_1) solid;
  width: 100%;
}

header a {
  display: inline-block;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  margin: var(--space-xxs);

  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--color2_4);
  padding: 0.5rem 0.5rem;
}

header a:hover {
  color: var(--color2_1);
}

.logo img {
  width: 70px;
  min-width: 40px;
  max-width: 100%;
  height: auto;
}

header nav {
  display: contents;
}

#menuknap {
  font-family: "Rubik", sans-serif;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 3rem;
  cursor: pointer;
  color: var(--color2_4);
}

nav #menu {
  list-style: none;
  gap: var(--space-sm);
  padding: var(--space-xs);
  transform: none;

  border-top: 0.15rem solid var(--color2_1);
  /* margin-top: var(--space-xs); */
  flex-basis: 100%;
}

#menu li {
  white-space: nowrap;
}

.hidden {
  display: none;
}

.kontaktknap {
  background-color: var(--color1_2);
  color: var(--color2_1);
  border-radius: 0.5rem;
}

.kontaktknap:hover {
  color: var(--color2_4);
}

/* menu end */

/* kontakt mig start */

#third_section {
  background: var(--color1_3);
}

#third_section .section_wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--space-sm);
}

.so_me_icon img,
#third_section img {
  width: 40px;
  height: auto;
}

.so_me_icon img:hover,
#third_section img:hover {
  opacity: 0.5;
}

#third_section .col_left {
  /* width: 100%; */
  margin: auto;
  /* padding-bottom: 50px; */
  gap: var(--space-sm);
  display: grid;
}

#third_section .mail {
  display: flex;
  gap: var(--space-lg);
  align-items: center;
}

#third_section .mobile {
  display: flex;
  gap: var(--space-lg);
  align-items: center;
}

#third_section .so_me_icon {
  display: flex;
  gap: var(--space-md);
}

.mail a,
.mobile a {
  color: var(--color2_4);
}

#third_section .col_right {
  border-radius: 1rem;
  background-color: var(--color1_5);

  height: 52vh;
  display: flex;
  justify-content: center;
}

#third_section .col_right img {
  height: auto;
  width: 2rem;
  grid-area: 1 / 1;
  z-index: 10;

  margin-top: 0.8rem;
  margin-left: var(--space-xs);
}

form {
  display: grid;
  gap: var(--space-xxs);

  width: 90%;
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.form-felt {
  display: grid;
}

label {
  width: 0;
  height: 0;
}

input,
textarea {
  border-radius: var(--space-xs);
  font-size: 1rem;
  font-family: "Roboto slab";

  padding-left: var(--space-xl);
  grid-area: 1/1;
}

button {
  border: none;
  border-radius: 0.5rem;
  color: var(--color2_1);
  background: var(--color1_2);
  font-family: "Rubik";
  font-size: 1.5rem;
  cursor: pointer;
}

button:hover {
  color: var(--color2_4);
}
/* kontakt mig end */

/* pil til top start */

aside img {
  width: 70px;
  min-width: 40px;
  max-width: 100%;
  height: auto;
}

aside .arrow_top {
  background: var(--color1_3);
  border-radius: 0.5rem;
}

aside .arrow_top:hover {
  background: var(--color1_2);
  border-radius: 0.5rem;
}

aside {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  padding-bottom: var(--space-md);
}

/* pil til top end */

/* footer start */

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: var(--space-xl) var(--space-sm) var(--space-xl) var(--space-sm);
  background: var(--color1_5);
  gap: var(--space-sm);
}

footer p {
  align-self: center;
}

/* footer start */

/********** global rules end **********/

/********** index start **********/

/* landing page start */

#first_section {
  background-image: url(../assets/img/fb_pic.jpeg);

  background-position: 10% 80%;
  width: 100%;
  height: 56.25vh;
  background-color: var(--color1_3);
  background-position: 10%;
  background-repeat: no-repeat;
  background-size: contain;
}

#first_section .section_wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#first_section .col_left {
  grid-row: 2 / 3;
  grid-column: 2 /3;
}

#first_section .col_right {
  grid-column: 1 / 2;
  align-self: center;
  text-align: end;
}

#first_section h1 {
  font-size: 1.5rem;
}

#first_section .so_me_icon {
  display: flex;
  gap: var(--space-md);
  margin-top: var(--space-sm);
  justify-content: end;
}

/* landing page end */

/* portfolio start */

#second_section {
  background: var(--color1_5);
}

#second_section h2 {
  text-align: center;
  margin-bottom: var(--space-lg);
}

#second_section .portfolio_grid_1,
#second_section .portfolio_grid_2,
#second_section .portfolio_grid_3,
#second_section .portfolio_grid_4 {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);
  margin-bottom: var(--space-lg);
}

#second_section .col_left_1,
#second_section .col_left_2,
#second_section .col_left_3,
#second_section .col_left_4,
#second_section .col_right_1,
#second_section .col_right_2,
#second_section .col_right_3,
#second_section .col_right_4 {
  grid-column: 1 / 2;
  width: 90%;
  height: 30vh;
  align-self: center;
  justify-self: center;

  border-radius: 1rem;
  background-color: var(--color1_2);
  background-image: url(../assets/img/logo/logo_sort_bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out 0.2s;

  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
}

#second_section .col_left_1:hover,
#second_section .col_left_2:hover,
#second_section .col_left_3:hover,
#second_section .col_left_4:hover,
#second_section .col_right_1:hover,
#second_section .col_right_2:hover,
#second_section .col_right_3:hover,
#second_section .col_right_4:hover {
  background-color: var(--color1_5);
  transition: ease-in-out 0.2s;
  border-radius: 0.45rem;
}

#second_section .col_left_1 a,
#second_section .col_left_2 a,
#second_section .col_left_3 a,
#second_section .col_left_4 a,
#second_section .col_right_1 a,
#second_section .col_right_2 a,
#second_section .col_right_3 a,
#second_section .col_right_4 a {
  grid-row: 2/3;
  margin-left: var(--space-md);
}

#second_section h3 {
  font-size: 1.5rem;
  grid-row: 2/3;
  margin-left: var(--space-xs);
}

#second_section h4 {
  font-size: 1rem;
  grid-row: 3/4;
  margin-left: var(--space-xs);
}

/* portfolio end */
/********** index end **********/

/********** om start **********/

/* om mig start */
#five_section .section_wrapper {
  display: grid;
  gap: var(--space-sm);
}

#five_section h2,
#sixth_section h2,
#seven_section h2 {
  grid-column: 2/3;
  text-align: center;
}

#five_section .section_wrapper .col_right h2 {
  text-align: start;
}

/* om mig end */

/* kompetencer start */

#sixth_section .section_wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

#seven_section {
  background: var(--color1_5);
}

#seven_section .kompetence_galleri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
  grid-template-rows: auto;
  gap: var(--space-xl);
}

#seven_section .kompetence_galleri div {
  height: 8rem;
  width: 8rem;
  padding-top: 2.5rem;
  border: 0.5rem var(--color2_1) solid;
  border-radius: 0.2rem;
  text-align: center;
}

/* kompetencer end */

/********** om end **********/

/********** web resposive site v2 start **********/

#web1_section .section_wrapper,
#web2_section .section_wrapper {
  display: grid;
  gap: var(--space-md);
}

#web2_section {
  background: var(--color1_5);
}

/********** web resposive site v2 end **********/

/********** media start **********/

/* menu udvidet start */
@media screen and (min-width: 650px) {
  #menuknap {
    display: none;
  }

  .hidden {
    display: flex;
  }

  nav #menu {
    flex-basis: 0;
    border-top: 0;
  }
}
/* menu udvidet start */

/* index - landpage page desktop start */
@media screen and (min-width: 500px) {
  #first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #first_section .col_left {
    grid-column: 1 / 2;
    text-align: center;
  }

  #first_section .col_right {
    grid-column: 2 / 2;
    text-align: center;
  }

  #first_section .so_me_icon {
    justify-content: center;
  }
}
/* index - landpage page desktop end */

/* index - portfolio desktop start*/
@media screen and (min-width: 598px) {
  .portfolio_grid_1 {
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }

  #second_section .col_left_1 {
    grid-column: 1 / 2;
    width: 95%;
    height: 30vh;
    align-self: center;
    justify-self: end;
  }

  #second_section .col_right_1 {
    grid-column: 2 / 2;
    width: 90%;
    height: 30vh;
    align-self: center;
    justify-self: start;
  }

  #second_section .portfolio_grid_2 {
    grid-template-columns: 1fr 2fr;
    grid-gap: var(--space-lg);
    margin-bottom: var(--space-lg);
  }

  #second_section .col_left_2 {
    grid-column: 2 / 2;
    width: 90%;
    height: 30vh;
    align-self: center;
    justify-self: start;
  }

  #second_section .col_right_2 {
    grid-column: 1 / 2;
    width: 95%;
    height: 30vh;
    align-self: center;
    justify-self: end;
  }

  .portfolio_grid_3 {
    grid-template-columns: 2fr 1fr;
    grid-gap: var(--space-lg);
    margin-bottom: var(--space-lg);
  }

  #second_section .col_left_3 {
    grid-column: 1 / 2;
    width: 95%;
    height: 30vh;
    align-self: center;
    justify-self: end;
  }

  #second_section .col_right_3 {
    grid-column: 2 / 2;
    width: 90%;
    height: 30vh;
    align-self: center;
    justify-self: start;
  }

  #second_section .portfolio_grid_4 {
    grid-template-columns: 1fr 2fr;
    grid-gap: var(--space-lg);
    margin-bottom: var(--space-lg);
  }

  #second_section .col_left_4 {
    grid-column: 2 / 2;
    width: 90%;
    height: 30vh;
    align-self: center;
    justify-self: start;
  }

  #second_section .col_right_4 {
    grid-column: 1 / 2;
    width: 95%;
    height: 30vh;
    align-self: center;
    justify-self: end;
  }
}
/* index - portfolio desktop start*/

/* om mig - desktop start */
@media screen and (max-width: 500px) {
  #sixth_section {
    background: var(--color1_5);
  }

  #seven_section {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  #five_section .section_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* om mig - desktop end */

/* kompetencer - desktop start */
@media screen and (min-width: 650px) {
  #sixth_section .section_wrapper {
    flex-direction: row;
  }
}
/* kompetencer - desktop end */

/* web resposive site v2 desktop start */
@media screen and (min-width: 650px) {
  #web1_section .section_wrapper,
  #web2_section .section_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  #web2_section .section_wrapper .col_left {
    grid-column: 2/3;
  }

  #web2_section .section_wrapper .col_right {
    /* grid-column: 1/2;
    grid-row: 1; */
    grid-area: 1 / 1 / 1 / 2;
  }
}
/* web resposive site v2 desktop end */

/* kontakt mig udvidet start */
@media screen and (min-width: 750px) {
  #third_section .section_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* kontakt mig udvidet end */

/********** media end **********/
