html {
  font-size: 16px;
  background-color: pink;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo img {
  width: 70px;
  min-width: 40px;
  max-width: 100%;
  height: auto;
}

form {
  display: grid;
  gap: 2rem;
}

.form-felt {
  display: grid;
  gap: 0.2rem;
}
